{% extends "base_generic.html" %}

{% block content %}

<form>
    {% csrf_token %}
    <h1>Your team is {{ team }}{{ team|json_script:"team-name" }}</h1>
    <div id="faster_team_to_answer_text"></div>
    <div id="blue_score_text"></div>
    <div id="red_score_text"></div>
    <p>Add 1 point to </p>
    <div>
        <input type="radio" id="add_blue_team" name="add_point" value="blue">
        <label for="add_blue_team">Blue team</label>
        <input type="radio" id="add_red_team" name="add_point" value="red">
        <label for="add_red_team">Red team</label>
    </div>
    <p>Remove 1 point to </p>
    <div>
        <input type="radio" id="remove_blue_team" name="remove_point" value="blue">
        <label for="remove_blue_team">Blue team</label>
        <input type="radio" id="remove_red_team" name="remove_point" value="red">
        <label for="remove_red_team">Red team</label>
        <input type="radio" id="reset" name="remove_point" value="reset">
        <label for="reset">Reset all scores</label>
    </div>
    <div>
        <input type="checkbox" id="bad_answer_continue" name="bad_answer_continue">
        <label for="bad_answer_continue">Bad answer, let's music continue</label>
    </div>
    <div>
        <button type="button" id="button_blind">Send</button>
        <p>Volume between 0 and 100%</p><input type="number" id="volume" min="0" max="100" step="1">
        <p>Music choice</p><select name="music_choice" id="music_choice" size="20"></select>
    </div>
</form>

<script>
    const team_blindSocket = new WebSocket('ws://' + window.location.host + '/ws/team_blind/');
    const blue_tag = '<p style="color:#0000FF">Blue team\'s score: ';
    const red_tag  = '<p style="color:#FF0000">Red team\'s score: ';
    const teamName = JSON.parse(document.getElementById('team-name').textContent);

    var form = document.querySelector("form");
    var btn = document.getElementById('button_blind');

    function removeOptions(selectElement) {
       var i, L = selectElement.options.length - 1;
       for(i = L; i >= 0; i--) {
          selectElement.remove(i);
       }
    }

    btn.addEventListener("click", function(event) {
          var data = new FormData(form);
          const volume = document.getElementById('volume').value;
          const bad_answer_continue = document.getElementById('bad_answer_continue').checked;
          const music_choice = document.getElementById('music_choice').value;

          team_blindSocket.send(JSON.stringify(
            {'team': teamName, 'add_point': data.get('add_point'), 'remove_point': data.get('remove_point'),
            'blind_music': music_choice, 'volume':parseInt(volume), 'bad_answer_continue':bad_answer_continue}));

          document.getElementById("add_blue_team").checked = false;
          document.getElementById("add_red_team").checked = false;
          document.getElementById("remove_blue_team").checked = false;
          document.getElementById("remove_red_team").checked = false;
          document.getElementById("reset").checked = false;
          document.getElementById("bad_answer_continue").checked = false;
          event.preventDefault();
        }, false);

    team_blindSocket.onopen = function(e) {
        document.getElementById("blue_score_text").innerHTML = blue_tag + '0' + '</p>';
        document.getElementById("red_score_text").innerHTML  = red_tag  + '0' + '</p>';
    };

    team_blindSocket.onclose = function(e) {
        console.error('team_blindSocket socket closed unexpectedly');
    };

    team_blindSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.getElementById("blue_score_text").innerHTML = blue_tag + data.context['blue_score'].toString() + '</p>';
        document.getElementById("red_score_text").innerHTML  = red_tag  + data.context['red_score'].toString()  + '</p>';
        document.getElementById("faster_team_to_answer_text").innerHTML = '<p>Faster team to answer is ' + data.context['faster_team_to_answer'] + '</p>';

        if (teamName == 'master' && (data.context.hasOwnProperty('blind_music_choices'))) {
            select = document.getElementById('music_choice');
            const blind_music_choices = data.context['blind_music_choices'];

            removeOptions(select);
            for (var userOpt in blind_music_choices) {
                var opt = document.createElement('option');

                opt.value = blind_music_choices[userOpt][0];
                opt.innerHTML = blind_music_choices[userOpt][1];
                select.appendChild(opt);
            }
        }
    };

</script>

{% include 'chat.html' with team_name=team %}

{% endblock %}