{% extends "base_generic.html" %}

{% block content %}

<form>
    {% csrf_token %}
    <h1>Your team is {{ team }}</h1>
    <p>Faster team to answer is {{ faster_team_to_answer }}</p>
    <div id="blue_score_text"></div>
    <div id="red_score_text"></div>
</form>

<script>
    const team_blindSocket = new WebSocket('ws://' + window.location.host + '/ws/team_blind/');
    const blue_tag = '<p style="color:#0000FF">Blue team\'s score: ';
    const red_tag  = '<p style="color:#FF0000">Red team\'s score: ';

    team_blindSocket.onopen = function(e) {
        document.getElementById("blue_score_text").innerHTML = blue_tag + '0' + '</p>';
        document.getElementById("red_score_text").innerHTML  = red_tag  + '0' + '</p>';
    };

    team_blindSocket.onclose = function(e) {
        console.error('team_blindSocket socket closed unexpectedly');
    };

    team_blindSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.getElementById("blue_score_text").innerHTML = blue_tag + data.context['blue_score'].toString() + '</p>';
        document.getElementById("red_score_text").innerHTML  = red_tag  + data.context['red_score'].toString()  + '</p>';
    };

</script>

{% include 'chat.html' with team_name=team %}

{% endblock %}